<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Django Blog</title>
    </head>
    <body>

        <h1>Hi, there!!</h1>
        <h2>It works!!</h2>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        {% for post in posts %}
            <div>
                <p>Published on: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}

    </body>
</html>
